%%-*- mode: erlang -*-
{deps, [
    %% reloader
	{ex_reloader, ".*", {git, "git://github.com/extend/ex_reloader.git", {branch, "master"}}},
    %% uuid
	{uuid, ".*",{git, "git://gitorious.org/avtobiff/erlang-uuid.git", "master"}},
	%% JSON NIFs Parser
    {jiffy, ".*", {git, "http://github.com/davisp/jiffy.git",{branch, "master"}}}
]}.
